/course-info.yaml
/course-remote-info.yaml
/Read Quality Control/lesson-info.yaml
/requirements.txt
/Read Quality Control/Choose the best/task.html
/Read Quality Control/GC-content/task.html
/Read Quality Control/Re-peat-peat-peat-peat-peat-peat/task.html
/Read Quality Control/Size does matter/task.html
/Read Quality Control/The FASTQ format/task.html
/Read Quality Control/The unknown/task.html
/Read Quality Control/Choose the best/task-info.yaml
/Read Quality Control/GC-content/task-info.yaml
/Read Quality Control/Re-peat-peat-peat-peat-peat-peat/task-info.yaml
/Read Quality Control/Size does matter/task-info.yaml
/Read Quality Control/The FASTQ format/task-info.yaml
/Read Quality Control/The unknown/task-info.yaml
/Read Quality Control/Choose the best/task-remote-info.yaml
/Read Quality Control/GC-content/task-remote-info.yaml
/Read Quality Control/Re-peat-peat-peat-peat-peat-peat/task-remote-info.yaml
/Read Quality Control/Size does matter/task-remote-info.yaml
/Read Quality Control/The FASTQ format/task-remote-info.yaml
/Read Quality Control/The unknown/task-remote-info.yaml
/Read Quality Control/task/tests.py
/.idea/.gitignore
